@mixin sidebar {
  height: 100vh;
  max-width: 250px;
  border-right: 10px solid grey;
  color: white;
  display: flex;
  flex-direction: column;
}

.sidebar {
  &__shown {
    @include sidebar;
    border-right: 10px solid blue;
  }
  &__hidden {
    @include sidebar;
    border-right: 10px solid green;
    max-width: 50px;
  }
}
